<footer>
	<section id="footer">
		<section id="sitemap">
			<h3 class="footer-text">Sitemap</h3>
			<ul>
				<li><a class="nav-element" routerLink="/">Home</a></li>
				<li><a class="nav-element" routerLink="/games">Games</a></li>
				<li><a class="nav-element" routerLink="/news">News</a></li>
				<li><a class="nav-element" routerLink="/studio">Studio</a></li>
				<li><a class="nav-element" routerLink="/shop">Shop</a></li>
				<li><a class="nav-element" routerLink="/contact">Contact</a></li>
			</ul>
		</section>

		<section id="content-footer">
			<p i18n class="med-text">Sichere dir noch heute exklusive Vorteile, <br><br>indem du Fazing Void vorbestellst.</p>
			<a i18n class="cta-feature">Jetzt vorbestellen</a>
		</section>
	</section>
	<section id="copyright">
		<p>ColorPlay Studios 2019</p>
	</section>
</footer>
