<article class="cta">
		<section class="site-title">
			<h2 i18n class="big-teaser">Fazing</h2><h2 class="text-highlight">News</h2>
		</section>
	</article>

	<article id="features">
		<section class="feature-text">
			<h2 class="med-teaser">2D Gameplay</h2>
			<p i18n class="med-text">Fazing Void verwendet die neuste Version der 2D Unity Game Engine für realistische 
				Details und eins schnelles Gameplay.<br><br> Sichere dir noch heute exklusive Vorteile, indem du Fazing Void vorbestellst.</p>
			<a i18n class="cta-feature">Jetzt vorbestellen</a>
		</section>
		<section class="feature-img">
			<img id="main-feature" src="./../../assets/images/fazing-void-character-closeup.png">
		</section>
	</article>

	<article id="beta">
		<section id="video-text">
			<h2 class="med-teaser">Betatest</h2>
			<p i18n class="med-text">Bewerbe dich jetzt für die Fazing Void Beta und sei einer der ersten,
				die das Spiel zu Gesicht bekommen.</p>
			<a i18n class="button-white">Bewerben</a>
		</section>		
	</article>

	<article class="void">
		<section id="void-container">
		</section>		
	</article>

	<article class="shop-feature">
		<h2>Fazing Void Shop</h2>
		<section class="shop">
			<section class="shop-item">
				<h3>Fazing Void Hoodie</h3>
				<p class="product-id">ID: <i>239501</i></p>
				<p i18n class="med-text">Sichere Dir den exklusiven Fazing Void Hoodie mit Patch-Set. Solange der Vorrat reicht.</p>
				<img class="product-img" src="./../../assets/images/fazing-void-hoodie-black.jpg">
				<a i18n class="product-btn">Produkt ansehen</a>
			</section>
			<section class="shop-item">
				<h3>Waffen Skin Bundle</h3>
				<p class="product-id">ID: <i>239502</i></p>
				<p i18n class="med-text">Sichere Dir den exklusiven Fazing Void Hoodie. Solange der Vorrat reicht.</p>
				<img class="product-img" src="./../../assets/images/fazing-void-convergence-skins.jpg">
				<a i18n class="product-btn">Produkt ansehen</a>
			</section>
		</section>			
	</article>

	<!--<article id="design-elem">
		<img id="design-img" src="./../../assets/images/the-convergence.jpg">
		<h3>Made in Hof</h3><br><br><h4>with Love.</h4>
	</article>-->