h1, h2, h3, p {
	color: #fff;
}

.cta{
	background-image: url("./../../assets/videos/void.gif");
	background-repeat: reapeat;
	background-size: inherit;
	background-position: center;
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.big-teaser{
	font-size: 100px;
	line-height: 1px;
	margin-bottom: 8vh;
}

.med-teaser{
	font-size: 60px;
	margin: 40px 0 0;
}

.med-text{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 60px;
}

.small-teaser{
	font-size: 42px;
	font-weight: 500;
	line-height: 1px;
}

#main-home {
	
}

.button-orange {
    padding: 18px;
    color: #f8f8ff;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    border-style: hidden;
    border-radius: 8px;
    background-color: #ef2b55;
    box-shadow: 3px 3px 18px #000;
    cursor: pointer;
}

.cta-feature {
    padding: 18px;
    color: #f8f8ff;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    border-style: hidden;
    border-radius: 8px;
    background-color: #ef2b55;
    box-shadow: 3px 3px 18px #000;
    cursor: pointer;
	margin-top: 30px;
}

.button-white {
    padding: 18px;
    color: #ef2b55;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    border-style: hidden;
    border-radius: 8px;
    background-color: #f8f8ff;
    box-shadow: 3px 3px 18px #000;
    cursor: pointer;
}

.text-highlight{
	padding: 30px;
	background-color: #dbef2b;
	border-radius: 15px;
	color: #f8f8ff;
	font-size: 50px;
	font-weight: 600;
}

.site-title{
	display: flex;
	justify-content: center; 
	align-content: center;
	align-items: center;
}

.btn-cta {
	display: flex;
	justify-content: center;
}

.feature-text {
	margin-left: 20vw;
}

#cta {
	margin: 10px;
}

#features {
	display: flex;
	flex-direction: row;
	height: 499px;
	background-color: #0C111F;
}  

#main-feature {
	margin-top: 88px;
	position: absolute;
	right: 0px;
	width: 320px;
}

#feature-video {
	position: fixed;
	width: 100%;
}

#beta {
	background-image: url("./../../assets/images/background-fazing-void-colored.jpg");
	
	background-repeat: no-reapeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 499px;
}

#video-text, beta-text{
	position: relative;
	margin-left: 20vw;
}

.void {
	width: 100%;
	height: 320px;
}

#void-container {
	margin-bottom: 15vh;
	background-image: url("./../../assets/videos/void.gif");
  	height: 320px;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: repeat;
 	background-size: unset;
}

#void-feature{
	width: 100%;
}

#void-night-sky {
	
}

.shop-feature {
	padding: 45px;
	margin: 30px;
}

.shop-feature h2 {
	font-size: 60px;
	color: #1C2847;
	
}

.shop-item {

}

.shop {
	display: flex;
	
}

.product-img {
	width: 42vw;
	margin-bottom: 42px;
}

.shop-item h1, .shop-item h2, .shop-item h3, .shop-item p {
	color: #1C2847;
}

.product-btn {
    padding: 18px;
    color: #ef2b55;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    border-style: hidden;
    border-radius: 8px;
    background-color: #f8f8ff;
    box-shadow: 3px 3px 18px #000;
    cursor: pointer;
}

#design-elem {
	display: flex;
}

#design-elem h1, #design-elem h2, #design-elem h3, #design-elem h4, #design-elem p {
	padding: 15px;
	color: #1C2847;
}

#design-img {
	width: 70vw;
}