h1, h2, h3, h4, p {
	color: #0C111F;
}

.cta h1, .cta h2, .cta h3 {
	color: #fff;
}

h2 {
	font-size: 42px;
}

.cta{
	background-image: url("./../../assets/videos/void.gif");
	background-repeat: reapeat;
	background-size: inherit;
	background-position: center;
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.big-teaser{
	font-size: 100px;
	line-height: 1px;
	margin-bottom: 8vh;
}

.med-teaser{
	font-size: 60px;
	margin: 40px 0 0;
}

.med-text{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 60px;
}

.small-teaser{
	font-size: 42px;
	font-weight: 500;
	line-height: 1px;
}

.text-highlight{
	padding: 30px;
	background-color: #dbef2b;
	border-radius: 15px;
	color: #f8f8ff;
	font-size: 50px;
	font-weight: 600;
}

.site-title{
	display: flex;
	justify-content: center; 
	align-content: center;
	align-items: center;
}

.shop-item-feature {
	width: 50vw;
}

.product-overview {
	display: flex;
}

.product-overview-feature:hover{
	opacity: 0.2;
}

.product-item-wrapper {
	margin: 50px;
}

.product-item-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin: 50px;
}

.item-description {
	width: 50vw;
}

.item-headline {
	margin: 0px;
}

.item-details {
	font-size: 24px;
	font-weight: 400;
}

.item-price {
	margin: 20px;
	font-size: 35px;
	font-weight: 800;
}

.item-cta {
	display: flex;
	flex-direction: column;
}

.item-cta a {
	margin: 25px 0;
	width: 150px;
}
